<a
  class="bg-primary hover:bg-primaryDark text-white whitespace-nowrap relative flex items-center justify-center h-10 w-80 pt-5 pb-5 pl-10 pr-10 border-1 border-primary"
  href={{this.href}}
>
  <p>{{this.text}}</p>
  <div
    class="border-primary border-b-1 border-r-1 absolute left-1 top-1 w-full h-full"
  >
  </div>
</a>