<footer
  class="w-full bg-primaryLight border-gray-400"
>
  <div class="flex w-full justify-between items-center px-80 text-white">
    <div class="flex">
        <ul class="mx-10">
            {{>footerLink text="CONTACT US" href="https://www.carluccios.com/contact/"}}
            {{>footerLink text="DELIVERY AND RETURNS" href="https://www.carluccios.com/delivery/"}}
            {{>footerLink text="SOCIAL RESPONSIBILITY" href="https://www.carluccios.com/social-responsibility/"}}
            {{>footerLink text="FEEDBACK" href="https://feeditback.to/carluccios"}}
        </ul>
        <ul class="mx-10">
            {{>footerLink text="FAQs" href="https://www.carluccios.com/faqs/"}}
            {{>footerLink text="PARTNERSHIPS" href="https://www.carluccios.com/our-partnerships/"}}
            {{>footerLink text="GIFTCARD TERMS" href="https://www.carluccios.com/giftcard/"}}
            {{>footerLink text="THE ANTONIO CARLUCCIO FOUNDATION" href="https://www.carluccios.com/antonio-carluccio-foundation/"}}
        </ul>
    </div>
  </div>
  <div class="flex w-full justify-between bg-primary px-80 text-white">
      <ul class="flex">
        {{>footerLink text="Privacy & Legals" href="https://www.carluccios.com/legal/"}}
        {{>footerLink text="Tipping Policy" href="https://www.carluccios.com/legal/tipping-policy/"}}
        {{>footerLink text="Head Office" href="https://www.carluccios.com/head-office/"}}
      </ul>
      <ul>
          {{>footerLink text="2021 Carluccios"}}
      </ul>
  </div>
</footer>