<div class="w-full relative" style="background-image:url(./images/temp_img.jpg); background-repeat: no-repeat; background-size: cover; height: 300px;">
    <div class="absolute w-full h-full bg-black opacity-40"></div>
    <div class="absolute w-full h-full flex justify-evenly items-center">
        <div class="text-white">
            <h1>{{this.title}}</h1>
            <h3>{{this.subtitle}}</h3>
        </div>
        {{>lightButton text="BOOK NOW" href="example.com"}}
    </div>
</div>