<div class="w-full relative h-96" style="background-image:url(./images/temp_img.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="absolute w-full h-full bg-black opacity-40"></div>
    <div class="absolute w-full h-full flex flex-col lg:flex-row justify-evenly items-center">
        <div class="text-white px-10">
            <h1>{{this.title}}</h1>
        </div>
        {{>lightButton text="BOOK NOW" href="example.com"}}
    </div>
</div>