<a
  class="bg-transparent hover:bg-white relative flex items-center justify-center h-10 w-80 pt-5 pb-5 pl-10 pr-10 text-white hover:text-primary border-1 border-white"
  href={{this.href}}
>
  <p class="">{{this.text}}</p>
  <div
    class="border-white border-b-1 border-r-1 absolute left-1 top-1 w-full h-full"
  >
  </div>
</a>