<!--Nav-->
<nav id="header" class="fixed w-full z-30 top-0 py-1 shadow bg-white">
  <div
    class="relative w-full container mx-auto flex flex-wrap items-center justify-center mt-0 px-6 my-3"
  >
    <div
      class="hidden md:flex md:justify-center md:items-center md:w-auto w-full order-3 md:order-1"
      id="menu"
    >
      <nav>
        <a href="https://www.carluccios.com/" class="w-full flex justify-center">
          <img
            class="h-20 w-auto" src="/images/logo-dark.png"
          ></img>

        </a>
        <ul
          class="md:flex items-center justify-between text-base text-gray-700 pt-4 md:pt-0"
        >
          <li><a
              class="inline-block no-underline hover:text-black hover:underline py-2 px-4"
              href="https://www.carluccios.com/menu/"
            >MENU</a></li>
          <li><a
              class="inline-block no-underline hover:text-black hover:underline py-2 px-4"
              href="https://www.carluccios.com/delivery/"
            >DELIVERY</a></li>
          <li><a
              class="inline-block no-underline hover:text-black hover:underline py-2 px-4"
              href="https://www.carluccios.com/reservations/"
            >BOOK A TABLE</a></li>
          <li><a
              class="inline-block no-underline hover:text-black hover:underline py-2 px-4"
              href="https://www.carluccios.com/careers/"
            >JOBS</a></li>
        </ul>
      </nav>
    </div>

    <div class="absolute right-1 top-1 flex items-center" id="nav-content">
        {{>icon source="./images/twitter.svg" href="https://twitter.com/carluccios/"}}
        {{>icon source="./images/instagram.svg" href="https://www.instagram.com/carluccios/"}}
        {{>icon source="./images/facebook.svg" href="https://www.facebook.com/carluccios/"}}
    </div>
  </div>
</nav>