---
{
     "urlFormat": "index.html"
}
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{global.name}}</title>
    <meta name="description" content="Carluccio's location picker">
    {{>head}}
    {{!-- <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> --}}
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">

  {{>styles}}

</head>
    <body>
      {{>navbar}}
      {{>footer}}
      <h1 class="mb-40">test</h1>
      <h1 class="mb-40">test</h1>
            <h1 class="mb-40">test</h1>
                  <h1 class="mb-40">test</h1>
                        <h1 class="mb-40">test</h1>
                              <h1 class="mb-40">test</h1>
                                    <h1 class="mb-40">test</h1>
                                          <h1 class="mb-40">test</h1>
                                                <h1 class="mb-40">test</h1>
                                                      <h1 class="mb-40">test</h1>
                                                            <h1 class="mb-40">test</h1>
                                                                  <h1 class="mb-40">test</h1>
                                                                        <h1 class="mb-40">test</h1>
                                                                              <h1 class="mb-40">test</h1>
                                                                                    <h1 class="mb-40">test</h1>
    </body>
</html>