---
{
    "stream": {
        "$id": "restaurants",
        "source": "knowledgeGraph",
        "destination": "pages",
      "fields": [
        "id", 
        "name", 
        "description",
        "address",
        "mainPhone",
        "geomodifier"
      ],
      "filter": {
        "entityTypes": [
          "restaurant"
        ]
      }
    },
    "urlFormat": "location.html"
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{name}}</title>
    <meta name="description" content={{description}} />
    {{>head}}
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap"
      rel="stylesheet"
    />
    {{>styles}}
  </head>

  <div class="container mx-auto px-4">
    <body>
      <h1>{{address}}</h1>
    </body>
  </div>
</html>