@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: acumin;
  src: url(./fonts/AcuminVariableConcept.otf) format("opentype");
}
@font-face {
  font-family: bodoni;
  src: url(./fonts/Bodoni\ Moda_regular.ttf) format("truetype"),
    url(./fonts/Bodoni\ Moda_800.ttf) format("truetype");
}

body {
  font-family: bodoni;
  background: #fffef4;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}
